{% extends "quanta/layouts.html" %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}

<!-- choosing a category will only show all the active list form that category
    Ex. cars 
        only all cars that are listed will show/display -->
{% include 'quanta/messages.html' %}
<div class="container">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Products</h2>
            <span>Shop now!</span>
            <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
            </p>
        </div>
        <form action="{% url 'category_all_list' %}" method="post">
            {% csrf_token %}
            <select name="category" class="form-select custom-select col-md-3 "
                onchange='if(this.value != 0) { this.form.submit(); }'>
                <option disabled selected value>Select Category</option>
                <option value="fashion">Fashion</option>
                <option value="gadgets">Gadgets</option>
                <option value="appliances">Appliances</option>
                <option value="toys">Toys & Accessories</option>
                <option value="others">Others</option>
            </select>

        </form>
        <div class="row mt-3">
            {% for active_listing in all_listings %}
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="card  services-item fadeInDown">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        {% if active_listing.product_img %}
                        <img src="{{ active_listing.product_img.url }}" class="w-100" />
                        {% else %}
                        <img src="{% static './quanta/images/no_product.png' %}" alt="prduct" class="w-100">
                        {% endif %}
                        <a href="{% url 'display_list' active_listing.id %}">
                            <div class="mask">
                                <div class="d-flex justify-content-start align-items-end h-100">
                                    <h5><span class="badge bg-danger ms-2">New</span></h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'display_list' active_listing.id %}" class="text-center">
                            <h5 class="card-title mb-3">{{ active_listing.item_name }}</h5>
                        </a>
                        <a href="{% url 'display_list' active_listing.id %}" class="text-center">
                            <p>{{ active_listing.category }}</p>
                        </a>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'display_list' active_listing.id %}" class="btn btn-primary mr-2">view</a>
                            <h6 class="mt-2 text-right">₱{{ active_listing.starting_price }}</h6>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

    {% endblock %}