{% extends 'quanta/layout.html' %}
{% load static %}

{% block title %}
Display
{% endblock %}

{% block body %}
<div class="container">

    {% include 'quanta/messages.html' %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Title: {{ listing.item_name}}</h5>
                    {% if listing.product_img %}
                    <img src="{{ listing.product_img.url }}" class="img-fluid rounded-start" alt="Url Pictures">
                    {% else %}
                    <img src="{% static './quanta/images/background-logo.svg' %}" alt="Admin"
                        class="img-fluid rounded-start">
                    {% endif %}
                    <p class="card-text">Description:<br> {{ listing.description }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.item_name}}</h5>
                    <p class="card-text"><small class="text-muted">Created at: {{ listing.created_at }}</small></p>
                    <p id="bid">Price: <span id="price" style="color: green;">₱{{ listing.starting_price }}</span>
                        from <span id="price">{{ listing.owner }}</span></p>
                    <p class="card-text">Description:<br> {{ listing.description }}</p>
                    <!-- closed_auction button -->
                    {% if user.is_authenticated %}
                    <!--User is logged in-->
                    {% if listing_owner and listing.is_closed == False %}
                    <a href="{% url 'closed_auction' listing.id %}" class="btn btn-warning">Close Product</a>
                    {% elif not listing_owner and listing.is_closed == False %}
                    <p class="card-text"><small class="text-muted">List is still active!</small></p>
                    <button type="button" class="btn btn-success" disabled> Product Active! </button>
                    {% else %}
                    <h4 style="color: red;">Out of Stock!</h4>
                    {% if user == listing.owner %}
                    <p style="color: green;">Congratulations! {{listing.owner}}, You Won the Product! </p>
                    {% else %}
                    <p style="color: green;">{{listing.owner}}, Won the Product! </p>
                    {% endif %}
                    <button type="button" class="btn btn-warning" disabled> Sold Out! </button>
                    {% endif %}

                    {% else %}
                    <!--User is not logged in-->
                    {% if listing.is_closed == True %}
                    <h4 style="color: red;">Out of Stock!</h4>
                    <button type="button" class="btn btn-warning" disabled> Sold Out! </button>
                    {% else %}
                    <p class="card-text"><small class="text-muted">Login or Register to add add_to_cart</small></p>
                    <button type="button" class="btn btn-success" disabled> Auction Active! </button>
                    {% endif %}
                    {% endif %}



                    <!-- add_to_cart buttons -->
                    {% if listing_in_user_add_to_cart and user.is_authenticated %}
                    <a href="{% url 'remove_add_to_cart' listing.id %}" class="btn btn-danger "><i
                            class="menu-icon fas fa-cart-plus"></i> remove to cart</a>
                    {% elif not listing_in_user_add_to_cart and user.is_authenticated %}
                    <a href="{% url 'add_add_to_cart' listing.id %}" class="btn btn-success"><i
                            class="menu-icon fas fa-cart-plus"></i> add to cart</a>
                    {% else %}
                    <button type="button" class="btn btn-primary" disabled>+ add to cart</button>
                    {% endif %}

                    <!-- favorite buttons -->
                    {% if listing_in_user_favorites and user.is_authenticated %}
                    <a href="{% url 'removed_to_favorites' listing.id %}" class="btn btn-outline-danger"> <i
                            class="menu-icon fa fa-heart"></i> </a>
                    {% elif not listing_in_user_favorites and user.is_authenticated %}
                    <a href="{% url 'add_to_favorites' listing.id %}" class="btn"><i
                            class="menu-icon far fa-heart"></i></a>
                    {% else %}
                    <button type="button" class="btn btn-primary" disabled><i
                            class="menu-icon far fa-heart"></i></button>
                    {% endif %}
                    <p class="card-text"><small class="text-muted">Last updated: {{ listing.update_at | timesince }}
                            ago</small></p>

                </div>
            </div>
            <!-- <div class="card">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <h5 class="card-title">BID:</h5>
                        <label>Bid: (0$ to $9,999,999)</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input type="text" name="new_bid" class="form-control" Placeholder="0"
                                aria-label="Amount (to the nearest dollar)">
                            <span class="inpuSt-group-text">.00</span>
                        </div>
                        {% if user.is_authenticated %}
                        <input type="submit" class="btn btn-success" value="$Place Bid">
                        {% else %}
                        <button type="button" class="btn btn-success" disabled>$Login to Place Bid</button>
                        {% endif %}
                    </div>
                </form>
            </div> -->
        </div>

    </div>

    <div class="mt-5">
        <!-- add comment -->
        <form action="{% url 'add_comment' listing.id %}" method="post">
            {%csrf_token%}
            <div class="bg-light p-2">
                <h5 class="card-title">Add Comments: </h5>
                <div class="d-flex flex-row align-items-start">
                    {% if user.pictures %}
                    <img class="rounded-circle" src="{{ user.pictures.url }}" width="40">
                    {% elif user.is_authenticated %}
                    <img class="rounded-circle" src="{% static './quanta/images/default_profile.png' %}" width="40">
                    {% else %}
                    <img class="rounded-circle" src="{% static './quanta/images/default_profile.png' %}" width="40">
                    {% endif %}


                    <textarea class="form-control ml-1 shadow-none textarea"
                        placeholder="What do you think? Comment Here?" type="text" name="comment"></textarea>
                </div>
                <div class="mt-2 text-right">
                    {% if user.is_authenticated %}
                    <input class="btn btn-primary btn-sm shadow-none" type="submit" value="Post Comment">
                    {% else %}
                    <button type="button" class="btn btn-success" disabled>Post comment</button>
                    {% endif %}
                    <button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button>
                </div>
            </div>

        </form>
    </div>

    <!-- user comments -->

    <div class="row mb-5">
        <div class="container mt-2">
            <h1>Comments</h1>
            {% for comment in comments %}
            <div class="d-flex justify-content-center row mt-2">
                <div class="col-md-12">
                    <div class="d-flex flex-column comment-section">
                        <div class="bg-white p-2">

                            <div class="d-flex flex-row align-items-start">
                                {% if user.pictures %}
                                <img class="rounded-circle" src="{{ user.pictures.url }}" width="40">
                                {% elif comment.commentor.pictures %}
                                <img class="rounded-circle" src="{{ comment.commentor.pictures.url }}" width="40">
                                {% else %}
                                <img class="rounded-circle" src="{% static './quanta/images/default_profile.png' %}" width="40">
                                {% endif %}
                                <div class="d-flex flex-column justify-content-start ml-2"><span
                                        class="d-block font-weight-bold name">{{comment.commentor}}</span><span
                                        class="date text-black-50">{{ comment.comment_at | timesince}} ago</span></div>
                            </div>
                            <div class="mt-2">
                                <p class="comment-text ml-3">{{comment.text}}
                                </p>
                            </div>
                        </div>
                        <div class="bg-white">
                            <div class="d-flex flex-row fs-12">
                                <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span
                                        class="ml-1">Like</span>
                                </div>
                                <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span
                                        class="ml-1">Comments</span></div>
                                <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Reply</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock%}