{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Quantum{% endblock %}</title>
    <link rel="stylesheet" href="/static/quanta/css/main.css">
    {% block head %}
    {% endblock %}

</head>

<body>
    {% include 'quanta/messages.html' %}
    <!-- <nav class="navbar navbar-expand-md fixed-top scrolling-navbar bg-white">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <span>
                    <img src="/static/quanta/img/Logo Black Small.svg" alt="">
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="lni-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{% url 'index' %}">Quantum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'quanta_home' %}">Active Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'all_list' %}">All Listings</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_to_cart' %}">My Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'createlist' %}">Creatinglist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_profile' %}">Profile</a>
                    </li>
                    {% else %}
                    <li><a type="button" class="nav-link" data-toggle="modal" data-target="#loginModal">Login</a></li>
                    <li><a type="button" class="nav-link" data-toggle="modal" data-target="#signModal">Sign up</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav> -->

    {% block body %}
    {% endblock %}

    <!-- login modal -->
    <!-- <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" id="x_button" aria-label="Close">
                        <span id="x_button" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-title text-center">
                       
                        <h1 class="logo">
                            <a href="{% url 'index' %}">
                                <img src="/static/quanta/img/Logo Black Small.svg" alt="" alt="LOGO"
                                    style="height: 100px;" class="img-fluid">
                            </a>
                        </h1>
                    </div>
                    <div class="d-flex flex-column text-center">
                        {% include 'quanta/messages.html' %}
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input autofocus class="form-control" type="text" name="username"
                                    placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="password" placeholder="Password">
                            </div>
                            <input class="btn btn-primary btn-block btn-round btns" type="submit" value="Login">
                        </form>

                        <div class="text-center text-muted delimiter">or use a social network</div>
                        <div class="d-flex justify-content-center social-buttons">
                            <button type="button" class="btn btn-secondary btn-round btns" data-toggle="tooltip"
                                data-placement="top" title="Twitter">
                                <i class="fab fa-twitter"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-round btns" data-toggle="tooltip"
                                data-placement="top" title="Facebook">
                                <i class="fab fa-facebook"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-round btns" data-toggle="tooltip"
                                data-placement="top" title="Linkedin">
                                <i class="fab fa-instagram"></i>
                            </button>
                            </di>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div class="signup-section">No account yet? <a type="button" data-dismiss="modal"
                            data-toggle="modal" data-target="#signModal" class="text-primary"> Sign Up</a>
                        <div class="signup-section d-flex justify-content-center"><a type="button" href="#"
                                class="text-primary"> <small>Forgot Password</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- end of login modal   -->

    <!-- signup modal -->
    <!-- <div class="modal fade" id="signModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" id="x_button" aria-label="Close">
                        <span id="x_button" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-title text-center">
                        <h1 class="logo">
                            <a href="{% url 'index' %}">
                                <img src="/static/quanta/img/Logo Black Small.svg" alt="" alt="LOGO"
                                    style="height: 100px;" class="img-fluid">
                            </a>
                        </h1>
                    </div>
                    <div class="form-row">

                        <h2 class="card_title">Sign Up</h2>
                    </div>
                    {% include 'quanta/messages.html' %}
                    <form class="row g-3 needs-validation" action="{% url 'register' %}" method="POST"
                        enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <label for="validationServerUsername" class="form-label">Username</label>
                        <div class="input-group has-validation">
                            <input type="text" name="username" class="form-control " id="validationServerUsername"
                                aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
                                value="{{ username }}" required>
                            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                Please choose a username.
                            </div>
                        </div>

                        <label for="validationServer01" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control " id="validationServer01"
                            value="{{ email }}" required>

                       

                        <label for="validationServer02" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="validationServer02"
                            value="{{ password }}" required>
                        

                        <label for="validationServer02" class="form-label">Confirmation Password</label>
                        <input type="password" class="form-control" name="confirmation" id="validationServer02"
                            value="{{ password }}" required>
                        

                        <div class="form-group">
                            <label for="exampleFormControlFile1">Choose Profile</label>
                            <input class="form-control" type="file" id="formFile" name="profile_img">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck3"
                                aria-describedby="invalidCheck3Feedback" required>
                            <label class="form-check-label" for="invalidCheck3">
                                Agree to terms and conditions
                            </label>
                            <div id="invalidCheck3Feedback" class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                </div>

                <div class="col-12 mt-3" align="center">
                    <input class="btn btn-primary" type="submit" value="Sign Up">
                </div>
                <div class="col-12 mt-3" align="center">
                    <div class="signup-section">Already have an account? <a type="button" data-dismiss="modal"
                            data-toggle="modal" data-target="#loginModal" class="text-primary"> Log In here.</a>
                        <div class="signup-section d-flex justify-content-center">
                        </div>
                    </div>
                </div>
                </form>
            </div>

        </div>
    </div>
    </div> -->
    <!-- end of sign-up modal   -->
    <!-- Footer Area Start -->
    <!-- <footer>
        <section class="footer-Content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <h3>Quantum</h3>
                        <div class="textwidget">
                            <p>Empowering innovations for better visions, opportunities for best possibilities.</p>
                        </div>
                        <ul class="footer-social">
                            <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                            <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                            <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <div class="widget">
                            <h3 class="block-title">Short Link</h3>
                            <ul class="menu">
                                <li><a href="#">Service</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Advance Sarch</a></li>
                                <li><a href="#">Site Map</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <div class="widget">
                            <h3 class="block-title">Contact Us</h3>
                            <ul class="contact-footer">
                                <li>
                                    <strong>Address :</strong> <span>LSPU - Santa Cruz (Main) Campus, Brgy. Bubukal,
                                        Sta. Cruz, Laguna</span>
                                </li>
                                <li>
                                    <strong>Phone :</strong> <span>+48 123 456 789</span>
                                </li>
                                <li>
                                    <strong>E-mail :</strong> <span><a href="#">quantum@example.com</a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <div class="widget">
                            <h3 class="block-title">Instagram</h3>
                            <ul class="instagram-footer">
                                <li><a href="#"><img src="/static/quanta/img/instagram/insta1.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/static/quanta/img/instagram/insta2.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/static/quanta/img/instagram/insta3.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/static/quanta/img/instagram/insta4.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/static/quanta/img/instagram/insta5.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/static/quanta/img/instagram/insta6.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    <!-- Footer area End -->

    <!-- Copyright Start  -->
    <!-- <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="site-info float-left">
                            <p>Crafted by <a href="" rel="nofollow">Quantum</a></p>
                        </div>
                        <div class="float-right">
                            <ul class="nav nav-inline">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">About Prime</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">TOS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Return Policy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">FAQ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- Copyright End -->

    </footer>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
</body>

</html>