body {
    padding: 10px;
}
.card-img-top {
    width: 100% !important;
    height: 15vw !important;
    object-fit: cover !important;
}
/*--------------------------------------------------------------
#checkout page
--------------------------------------------------------------*/

  
  #progressbar-1 {
  color: #455A64;
  }
  
  #progressbar-1 li {
  list-style-type: none;
  font-size: 13px;
  width: 33.33%;
  float: left;
  position: relative;
  }
  
  #progressbar-1 #step1:before {
  content: "1";
  color: #fff;
  width: 29px;
  margin-left: 22px;
  padding-left: 11px;
  }
  
  #progressbar-1 #step2:before {
  content: "2";
  color: #fff;
  width: 29px;
  }
  
  #progressbar-1 #step3:before {
  content: "3";
  color: #fff;
  width: 29px;
  margin-right: 22px;
  text-align: center;
  }
  
  #progressbar-1 li:before {
  line-height: 29px;
  display: block;
  font-size: 12px;
  background: #455A64;
  border-radius: 50%;
  margin: auto;
  }
  
  #progressbar-1 li:after {
  content: '';
  width: 121%;
  height: 2px;
  background: #455A64;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 15px;
  z-index: -1;
  }
  
  #progressbar-1 li:nth-child(2):after {
  left: 50%;
  }
  
  #progressbar-1 li:nth-child(1):after {
  left: 25%;
  width: 121%
  }
  
  #progressbar-1 li:nth-child(3):after {
  left: 25%;
  width: 50%;
  }
  
  #progressbar-1 li.active:before,
  #progressbar-1 li.active:after {
  background: #1266f1;
  }
  
  .card-stepper {
  z-index: 0
  }

/*--------------------------------------------------------------
#Notification
--------------------------------------------------------------*/
.header-left .dropdown .dropdown-menu p {
  padding: 0px 10px 0px 10px!important;
}

/*--------------------------------------------------------------
#Nav bar
--------------------------------------------------------------*/
.navbar-brand img{
  max-width: 116px;
}
/*--------------------------------------------------------------
# messages modal
--------------------------------------------------------------*/
.headercolorsuccess{
	background-color: #47C9A2;
}
.headercolorerror{
	background-color: #E85E6C;
}
.checkicon img{
	width: 95px;
	margin-left: 35%;
}
.icon{
	justify-content: center;
	padding: 20px;
}
.btnsuccess{
	background-color: #47C9A2;
	color: #fff;
}
.btn-check:focus+.btn, .btn:focus {
	box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.432);
  }
.btnerror{
	background-color: #E85E6C;
	color: #fff;
}
/*--------------------------------------------------------------
# login modal
--------------------------------------------------------------*/
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-dialog .modal-content {
    padding: 1rem;
  }
}
.modal-header .close {
  margin-top: -1.5rem;
}

.form-title {
  margin: -2rem 0rem 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.delimiter {
  padding: 1rem;
}

.social-buttons .btns {
  margin: 0 0.5rem 1rem;
}

.signup-section {
  padding: 0.3rem 0rem;
}

